body {
    background: #111;
    color: white;
    font-family: Arial;
    padding: 20px;
}

h1 {
    text-align: center;
}

.section {
    background: #222;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

input {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    background: #000;
    border: 1px solid #555;
    color: white;
}

button {
    padding: 10px 20px;
    background: #0f62fe;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #0353e9;
}

pre {
    background: black;
    padding: 10px;
    border-radius: 10px;
}
